<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="resources/style.css">
    <title>REGISTRARME</title>
</head>
<body>
    
    <div class="register-form">
        <h1>Registrate</h1>
        <form action="register" method="post">
            <label for="user"> Usuario </label>
            <input type="text" name="user" required>

            <label for="pass"> Contraseña</label>
            <input type="password" name="pass" required>

            <div style="display: inline;">
                <a href="/" class="btn-cancel">Cancelar</a><input type="submit" class="btn-save" value="save">
            </div>

        </form>

    </div>
</body>
</html>